<div class="cn-three-viewer-editor cn-materials">
    <div class="cn-three-viewer-mat-list pr-2">

        <button mat-raised-button color="primary" class="w-100" (click)="newMaterial()">
            <mat-icon>add</mat-icon>
            <span>Add</span>
        </button>

        <div class="cn-three-viewer-editor-item-list mt-2" style="height: 20rem;" cdkDropList
            (cdkDropListDropped)="data.model.swapMaterials($event.previousIndex, $event.currentIndex)">
            <div *ngFor="let m of data.model.materials; index as mIdx" cdkDrag>
                <div class="cn-three-viewer-editor-item d-flex align-items-center w-100 px-2"
                    [class.cn-selected]="selectedMaterial===m" (click)="selectedMaterial=m">
                    <span class="flex-grow-1">{{ m.title | cnLocalizedText }}</span>
                    <button mat-icon-button (click)="deleteMaterial(mIdx)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
        </div>

    </div>
    <div class="flex-grow-1 pl-2" *ngIf="selectedMaterial">
        <div class="d-flex flex-column w-100" style="height: 25rem;">
            <div>
                <div class="cn-three-viewer-editor-property">
                    <span>Title</span>
                    <app-editable-localized-text style="width: 20rem;" class="ml-auto cn-input"
                        [(data)]="selectedMaterial.title"></app-editable-localized-text>
                </div>
                <div class="cn-three-viewer-editor-property">
                    <span>Description</span>
                    <app-editable-localized-text style="width: 20rem;" class="ml-auto cn-input"
                        [(data)]="selectedMaterial.description" multiline="true"></app-editable-localized-text>
                </div>
            </div>
            <div class="flex-grow-1 mat-elevation-z3 mt-3" style="overflow-x: hidden; overflow-y: auto;">
                <table class="cn-materials-table">
                    <thead>
                        <tr>
                            <th class="cn-caption text-left">Mesh</th>
                            <th style="width: 7rem" class="cn-caption">Color</th>
                            <th style="width: 7rem" class="cn-caption">Map</th>
                            <th style="width: 7rem" class="cn-caption">Normal Map</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let mesh of data.model.meshes; index as mIdx">
                            <td>{{ mesh.name }}</td>
                            <td>
                                <input [ngModel]="'#' + selectedMaterial.meshMaterials[mIdx].color.getHexString()"
                                    (ngModelChange)="selectedMaterial.meshMaterials[mIdx].color.set($event)"
                                    type="color">
                            </td>
                            <td class="text-right cn-relative">
                                <button mat-icon-button (click)="texture(selectedMaterial.meshMaterials[mIdx], 'map')">
                                    <mat-icon *ngIf="selectedMaterial.meshMaterials[mIdx].map">delete</mat-icon>
                                    <mat-icon *ngIf="!selectedMaterial.meshMaterials[mIdx].map">publish</mat-icon>
                                </button>
                            </td>
                            <td class="text-right">
                                <button mat-icon-button
                                    (click)="texture(selectedMaterial.meshMaterials[mIdx], 'normalMap')">
                                    <mat-icon *ngIf="selectedMaterial.meshMaterials[mIdx].normalMap">delete</mat-icon>
                                    <mat-icon *ngIf="!selectedMaterial.meshMaterials[mIdx].normalMap">publish</mat-icon>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>