<ng-template let-data let-item="item" appTemplateDef="la-mostra">

<div class="mat-elevation-z4 container p-0 animated fadeIn">
    <div class="text-primary-contrast p-4 bg-primary text-primary-contrast">
        <h3>La Battaglia di Anghiari: la storia, i protagonisti</h3>
        <p>
            Il nome di Anghiari riporta inevitabilmente alla battaglia che ha definito l'assetto territoriale e
            politico
            della Toscana odierna e allo stesso tempo a quello dell'artista che tale battaglia doveva dipingere - ma
            che
            secondo i più recenti studi non portò mai oltre lo stadio del cartone preparatorio -nel salone dei
            Cinquecento
            in Palazzo Vecchio: Leonardo da Vinci.
        </p>
        <p>
            In questo anno di celebrazioni leonardiane, il progetto della mostra 'Arte di governo e la battaglia di
            Anghiari. Da
            Leonardo da Vinci alla serie gioviana degli Uffizi" spicca per l'originalità dell'impostazione. L'evento
            famoso
            soprattutto per un'assenza, quella del capolavoro leonardiano, viene recuperato grazie ad una presenza:
            quella
            dei
            protagonisti dell'evento, che attraverso i loro ritratti, esattamente nello spirito delle prime
            collezioni
            cinquecentesche di "uomini illustri' tornano in vita e svelano agli spettatori la componente umana,
            politica,
            diplomatica e strategica di un episodio altrimenti astratto. La battaglia perduta prende forma nel
            confronto
            tra
            i
            volti di quegli uomini che determinarono il susseguirsi di eventi, fino ad arrivare alla fase finale,
            quella
            "Lotta
            per lo stendardo' presentata attraverso la tela omonima della Collezione Horne e la "Tavola Doria' . Un
            coraggioso
            cambiamento di prospettiva, quindi, che ha portato una ventata di novità nel panorama delle ricerche
            sull'opera
            leonardiana.
        </p>
        <p>
            Le Gallerie degli Uffizi, per le quali l'impegno sul territorio è senz'altro una delle missioni
            fondamentali, sono dunque liete di concretizzare la collaborazione con la città di Anghiari attraverso
            il
            prestito
            di quelle opere che costituiscono la base di questa piccola, ma preziosa ed articolata mostra.
            Attraverso la
            sinergia di enti pubblici e privati si restituisce ad una comunità viva e aperta al mondo uno degli
            episodi
            fondanti
            della sua identità, ancora percepibile nel territorio; allo stesso tempo, esponendo opere che hanno un
            valore di
            testimonianza e introducono tematiche di valore storico-documentario anziché cercare soltanto capolavori
            già
            noti,
            si scoprono e si valorizzano autori oggi meno conosciuti, come il raffinato allievo del Bronzino,
            Cristofano
            dell'Altissimo. Questi fu nel XVI secolo l'instancabile ed apprezzato produttore dei ritratti che dalle
            residenze
            medicee si diffusero come dono diplomatico in tutta Europa e vengono oggi richieste nel mondo intero
            perché
            riescono
            a rendere vivi e presenti i protagonisti dei grandi eventi storici: se il genio assoluto di Leonardo
            poteva
            scandagliare in profondità e rappresentare le infinite possibilità dell'animo umano creando capolavori
            fantastici,
            la concreta ed elegante materialità di Cristofano ci riporta sul piano realistico della storia legando
            quegli
            uomini
            a questi luoghi, come se fossero essi stessi di nuovo qui, ad ammirare con noi dall'alto la piana della
            battaglia di
            Anghiari.
        </p>
        <p class="text-right">Eike D. Schmidt, Direttore de Le Gallerie degli Uffizi</p>
    </div>
    <div class="p-4 bg-primary-lighter text-primary-lighter-contrast">
        <h3>The Baule of Anghiari: the history, the protagonists</h3>
        <p>
            The name of Anghiari takes us inevitably to the baule that has defined the territory and political
            structure
            of
            Tuscany to this day, and at the same time to that of the artist who
            had to paint it — even though, according to the most recent studies, he never carried it beyond the
            stage of
            the
            cartoon - in the Hall of the Five Hundred in Palazzo Vecchio: Leonardo da Vinci.
        </p>
        <p>
            In this year of celebrations for
            Leonardo da Vinci, the project of the exhibition "Art and the Baule of Anghiari. From Leonardo da Vinci
            to
            the
            Giovio series of the Uffizi' stands out for the originality of the approach. The event is especially
            famous
            for
            an
            absence, that of the masterpiece by Leonardo, but is saved thanks to a presence: that of the
            protagonists of
            the
            event, and through their portraits, exactly in the spirit of the first collections of sixteenth-century
            "illustrious
            men °, who come back to life and reveal to the viewers the human, political, diplomatic and strategic
            components
            in
            the episode that is otherwise abstract. The lost baule takes on a shape through the confrontation
            between
            the
            faces
            of those men who determined the succession of events, up to the final stage, the struggle for the banner
            presented
            through the canvas of the same name from the Horne Collection and the "Tavola Doria". A brave change of
            perspedive,
            therefore, that has brought a breath of fresh air to the panorama of research on Leonardo's work.
        </p>
        <p>
            The Uffizi
            Gallery, whose commitment to the local territory is undoubtedly one of its fundamental missions, is,
            therefore,
            pleased to collaborate with the town of Anghiari by lending those works that form the basis of this
            small,
            but
            precious and articulated exhibition. Through the synergy of public and private organisations, an episode
            which
            is at
            the very foundation of the territory's identity, and stil) perceptible in it, is returned to a living
            community,
            open to the world; while at the same time, by exposing works that have value as evidence and introduce
            historical-documentary themes, rather than only looking to the masterpieces that are already known,
            lesser
            known
            artists such as the skilled pupil of Bronzino, Cristofano dell'Altissimo can be discovered and brought
            into
            the
            foreground. In the sixteenth century these were the tireless and much-appreciated portrait paintings
            that
            spread
            from the Medici residences as diplomatic gifts throughout
        </p>
    </div>
</div></ng-template><ng-template let-data let-item="item" appTemplateDef="opera"><div class="container animated fadeIn">
    <div class="row no-gutters mx-n2">
        <div class="col-lg-4 p-2">
            <div class="mat-elevation-z4 h-100 bg-background">
                <img class="d-block w-100" [src]="data.image | cnUrl : item">
                <div class="p-4">
                    <h3>{{ data.title | cnLocalizedText }}</h3>

                    <p>{{ data.type | cnLocalizedText }}</p>

                    <p>{{ data.size }}</p>

                    <p>{{ data.location }}</p>
                    <p>
                        <a [cnLink]="'..' | cnUrl : item : true">Back</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-8 p-2">
            <div class="mat-elevation-z4 h-100 p-4 bg-background">
                <p [innerHtml]="data.text | cnLocalizedText"></p>
            </div>
        </div>
    </div>
</div></ng-template>