<ng-template let-data let-item="item" appTemplateDef="header"><div class="p-2 h-100 cn-relative d-flex">
    <img class="h-100"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/1200px-Instagram_logo_2016.svg.png">
    <div class="pl-2">
        <h1 class="m-0">Officia tempor cillum cillum tempor.</h1>
        <h2 class="m-0">Sint veniam officia labore ut incididunt qui voluptate ad velit.</h2>
        <p>
            Nulla ut deserunt labore minim quis do nisi minim qui elit. Lorem sit minim consectetur magna fugiat minim
            sunt cupidatat. Quis cillum aliqua culpa minim dolore mollit qui.
        </p>
    </div>
</div></ng-template><ng-template let-data let-item="item" appTemplateDef="la-mostra">

<div class="mat-elevation-z4 container p-0 animated fadeIn">
    <div class="text-primary-contrast p-4 bg-primary text-primary-contrast">
        <h3>La Battaglia di Anghiari: la storia, i protagonisti</h3>
        <p>
            Il nome di Anghiari riporta inevitabilmente alla battaglia che ha definito l'assetto territoriale e
            politico
            della Toscana odierna e allo stesso tempo a quello dell'artista che tale battaglia doveva dipingere - ma
            che
            secondo i più recenti studi non portò mai oltre lo stadio del cartone preparatorio -nel salone dei
            Cinquecento
            in Palazzo Vecchio: Leonardo da Vinci.
        </p>
        <p>
            In questo anno di celebrazioni leonardiane, il progetto della mostra 'Arte di governo e la battaglia di
            Anghiari. Da
            Leonardo da Vinci alla serie gioviana degli Uffizi" spicca per l'originalità dell'impostazione. L'evento
            famoso
            soprattutto per un'assenza, quella del capolavoro leonardiano, viene recuperato grazie ad una presenza:
            quella
            dei
            protagonisti dell'evento, che attraverso i loro ritratti, esattamente nello spirito delle prime
            collezioni
            cinquecentesche di "uomini illustri' tornano in vita e svelano agli spettatori la componente umana,
            politica,
            diplomatica e strategica di un episodio altrimenti astratto. La battaglia perduta prende forma nel
            confronto
            tra
            i
            volti di quegli uomini che determinarono il susseguirsi di eventi, fino ad arrivare alla fase finale,
            quella
            "Lotta
            per lo stendardo' presentata attraverso la tela omonima della Collezione Horne e la "Tavola Doria' . Un
            coraggioso
            cambiamento di prospettiva, quindi, che ha portato una ventata di novità nel panorama delle ricerche
            sull'opera
            leonardiana.
        </p>
        <p>
            Le Gallerie degli Uffizi, per le quali l'impegno sul territorio è senz'altro una delle missioni
            fondamentali, sono dunque liete di concretizzare la collaborazione con la città di Anghiari attraverso
            il
            prestito
            di quelle opere che costituiscono la base di questa piccola, ma preziosa ed articolata mostra.
            Attraverso la
            sinergia di enti pubblici e privati si restituisce ad una comunità viva e aperta al mondo uno degli
            episodi
            fondanti
            della sua identità, ancora percepibile nel territorio; allo stesso tempo, esponendo opere che hanno un
            valore di
            testimonianza e introducono tematiche di valore storico-documentario anziché cercare soltanto capolavori
            già
            noti,
            si scoprono e si valorizzano autori oggi meno conosciuti, come il raffinato allievo del Bronzino,
            Cristofano
            dell'Altissimo. Questi fu nel XVI secolo l'instancabile ed apprezzato produttore dei ritratti che dalle
            residenze
            medicee si diffusero come dono diplomatico in tutta Europa e vengono oggi richieste nel mondo intero
            perché
            riescono
            a rendere vivi e presenti i protagonisti dei grandi eventi storici: se il genio assoluto di Leonardo
            poteva
            scandagliare in profondità e rappresentare le infinite possibilità dell'animo umano creando capolavori
            fantastici,
            la concreta ed elegante materialità di Cristofano ci riporta sul piano realistico della storia legando
            quegli
            uomini
            a questi luoghi, come se fossero essi stessi di nuovo qui, ad ammirare con noi dall'alto la piana della
            battaglia di
            Anghiari.
        </p>
        <p class="text-right">Eike D. Schmidt, Direttore de Le Gallerie degli Uffizi</p>
    </div>
    <div class="p-4 bg-primary-lighter text-primary-lighter-contrast">
        <h3>The Baule of Anghiari: the history, the protagonists</h3>
        <p>
            The name of Anghiari takes us inevitably to the baule that has defined the territory and political
            structure
            of
            Tuscany to this day, and at the same time to that of the artist who
            had to paint it — even though, according to the most recent studies, he never carried it beyond the
            stage of
            the
            cartoon - in the Hall of the Five Hundred in Palazzo Vecchio: Leonardo da Vinci.
        </p>
        <p>
            In this year of celebrations for
            Leonardo da Vinci, the project of the exhibition "Art and the Baule of Anghiari. From Leonardo da Vinci
            to
            the
            Giovio series of the Uffizi' stands out for the originality of the approach. The event is especially
            famous
            for
            an
            absence, that of the masterpiece by Leonardo, but is saved thanks to a presence: that of the
            protagonists of
            the
            event, and through their portraits, exactly in the spirit of the first collections of sixteenth-century
            "illustrious
            men °, who come back to life and reveal to the viewers the human, political, diplomatic and strategic
            components
            in
            the episode that is otherwise abstract. The lost baule takes on a shape through the confrontation
            between
            the
            faces
            of those men who determined the succession of events, up to the final stage, the struggle for the banner
            presented
            through the canvas of the same name from the Horne Collection and the "Tavola Doria". A brave change of
            perspedive,
            therefore, that has brought a breath of fresh air to the panorama of research on Leonardo's work.
        </p>
        <p>
            The Uffizi
            Gallery, whose commitment to the local territory is undoubtedly one of its fundamental missions, is,
            therefore,
            pleased to collaborate with the town of Anghiari by lending those works that form the basis of this
            small,
            but
            precious and articulated exhibition. Through the synergy of public and private organisations, an episode
            which
            is at
            the very foundation of the territory's identity, and stil) perceptible in it, is returned to a living
            community,
            open to the world; while at the same time, by exposing works that have value as evidence and introduce
            historical-documentary themes, rather than only looking to the masterpieces that are already known,
            lesser
            known
            artists such as the skilled pupil of Bronzino, Cristofano dell'Altissimo can be discovered and brought
            into
            the
            foreground. In the sixteenth century these were the tireless and much-appreciated portrait paintings
            that
            spread
            from the Medici residences as diplomatic gifts throughout
        </p>
    </div>
</div></ng-template><ng-template let-data let-item="item" appTemplateDef="opera"><div class="container animated fadeIn">
    <div class="row no-gutters mx-n2">
        <div class="col-lg-4 p-2">
            <div class="mat-elevation-z4 h-100 bg-background">
                <img class="d-block w-100" [src]="data.image | cnUrl : item">
                <div class="p-4">
                    <h3>{{ data.title | cnLocalizedText }}</h3>

                    <p>{{ data.type | cnLocalizedText }}</p>

                    <p>{{ data.size }}</p>

                    <p>{{ data.location }}</p>
                    <p>
                        <a [cnLink]="'..' | cnUrl : item : true">Back</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-8 p-2">
            <div class="mat-elevation-z4 h-100 p-4 bg-background">
                <p [innerHtml]="data.text | cnLocalizedText"></p>
            </div>
        </div>
    </div>
</div></ng-template><ng-template let-data let-item="item" appTemplateDef="page-examples"><div class="container">
    <div class="mat-elevation-z4 mt-4 p-4 bg-background">
        <h2>Testo statico</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed venenatis lectus. Vivamus vestibulum
            posuere massa, eleifend egestas urna pretium a. Morbi hendrerit blandit mauris, eget pulvinar odio vulputate
            sit amet. Phasellus a nulla a turpis ornare tristique. Fusce laoreet, turpis eu venenatis rhoncus, est enim
            mattis arcu, eget scelerisque nulla lectus sed nulla. Sed luctus eu sem vel tincidunt. Integer interdum ante
            ac orci commodo, a semper turpis tempor. Sed aliquam rutrum risus a tincidunt. Sed eget magna leo.
        </p>
    </div>

    <div class="mat-elevation-z4 mt-4 p-4 bg-background">
        <h2>Testo dinamico</h2>
        <p>{{ data.dynamicText | cnLocalizedText }}</p>
    </div>

    <div class="mat-elevation-z4 mt-4 p-4 bg-background">
        <h2>HTML dinamico</h2>
        <p [innerHtml]="data.dynamicHtml | cnLocalizedText"></p>
    </div>

    <div class="mat-elevation-z4 mt-4 p-4 bg-background">
        <h2>Stili dinamici</h2>
        <p [style.background-color]="data.bgColor">Il background di questo elemento è: {{ data.bgColor }}</p>
    </div>

    <div class="mat-elevation-z4 mt-4 p-4 bg-background">
        <h2>Url e link</h2>
        <p>
            Tutti gli url, che siano link o immagini, vanno formattati usando la pipe "cnUrl". Questo permette al
            sistema di valutare gli url relativi, interni ed esterni.
            La direttiva [cnLink] permette di definire un elemento della pagina come link. Funziona in modo simile
            all'attributo "href", con la differenza che può essere utilizzato in qualsiasi tipo di elemento (quindi
            anche su
            pulsanti, immagini, ecc), e in caso di url interno all'applicazione, non ricarica l'intera pagina.
        </p>
        <div>
            <a [cnLink]="'assets/main/deep-zoom-0' | cnUrl:item">Link statico</a> - Link statico al deepzoom
        </div>
        <div>
            <a [cnLink]="data.link0 | cnUrl:item">Link dinamico</a> - Link il cui percorso è specificato nel file
            item.json
        </div>
        <div>
            <a [cnLink]="'..' | cnUrl:item">Vai su</a> - Questo link torna al livello superiore (come la freccia su)
        </div>
    </div>

    <div class="mat-elevation-z4 mt-4 p-4 bg-background">
        <h2>Lista semplice</h2>
        <p>
            Nei template è possibile sfruttare tutte le direttive Angular. In questo caso si usa la direttiva *ngFor,
            che permette di creare elementi html a partire da un array (data.simpleList) definito nel file item.json.
            In questo caso vengono generati di blocchi di tipo <strong>&lt;li&gt;</strong>, uno per ogni elemento
            dell'array.
            La sintassi di base della direttiva è: <em>let [nome_variabile] of [array]</em>. Ad ogni iterazione è
            possibile
            accedere all'elemento corrente tramite il nome della variabile (in questo caso "myListElement")
        </p>
        <ul>
            <li *ngFor="let myListElement of data.simpleList">{{ myListElement | cnLocalizedText }}</li>
        </ul>
    </div>

    <div class="mat-elevation-z4 mt-4 p-4 bg-background">
        <h2>Lista complessa</h2>
        <p>
            Sempre sfruttando la direttiva *ngFor è possibile definire una lista (data.complexList) in cui ogni elemento
            ha diversi campi
            che poi possono essere utilizzati per definire contenuti, stili, ecc.
        </p>
        <ul>
            <li *ngFor="let it of data.complexList">
                <span [style.color]="it.color">{{ it.title | cnLocalizedText }}</span>
                <span> - {{ it.text | cnLocalizedText }}</span>
            </li>
        </ul>
    </div>

    <div class="mat-elevation-z4 mt-4 p-4 bg-background">
        <h2>Lista con links</h2>
        <p>
            Questa lista usa la stessa struttura dati della lista complessa riportata sopra, ma utilizza i campi in
            modo diverso
        </p>
        <ul>
            <li *ngFor="let it of data.complexList" [style.background-color]="it.color">
                <span>{{ it.title | cnLocalizedText }}</span>
                <span> - {{ it.text | cnLocalizedText }}</span>
                (<a [cnLink]="it.link | cnUrl: item">Wiki</a>)
            </li>
        </ul>
    </div>

    <div class="mat-elevation-z4 mt-4 p-4 bg-background">
        <h2>Lista con links e immagini</h2>
        <p>
            Sempre utilizzando la stessa struttura dati, posso anche creare elementi più complessi
        </p>
        <div class="row nogutters mx-n2">
            <div class="col-md-4 p-2" *ngFor="let it of data.complexList">
                <div class="p-4 mat-elevation-z1">
                    <img class="w-100" style="height: 10rem;" [src]="it.image | cnUrl : item">
                    <h3 [style.color]="it.color"><strong>{{ it.title | cnLocalizedText }}</strong></h3>
                    <p>{{ it.text | cnLocalizedText }}</p>
                    <p class="text-right">
                        <a [cnLink]="it.link | cnUrl :item">Wiki</a>
                    </p>
                </div>
            </div>
        </div>
    </div>






</div></ng-template>