<ng-template #defaultTmpl let-data>
    <div class="container bg-white py-4">
        <h1>Default template</h1>
        <app-json-viewer [data]="data"></app-json-viewer>
    </div>
</ng-template>

<ng-template #dataViewTmpl let-data>
    <app-json-viewer class="cn-data-viewer" [data]="data"></app-json-viewer>
</ng-template>

<ng-container *ngIf="!context.editorMode.value && item && template">
    <ng-container *ngTemplateOutlet="template; context: templateContext"></ng-container>
</ng-container>



<ng-container *ngIf="context.editorMode.value">
    <div class="cn-editor-mode-context">
        <div class="cn-editor">
            <div class="cn-content">
                <div class="row">
                    <mat-form-field class="col-6">
                        <mat-label>Title</mat-label>
                        <app-editable-localized-text [(data)]="item.title"></app-editable-localized-text>
                    </mat-form-field>
                    <mat-form-field class="col-6">
                        <mat-label>Template</mat-label>
                        <mat-select [(ngModel)]="item.template">
                            <mat-option value="">
                                <em>-- Default --</em>
                            </mat-option>
                            <mat-option *ngFor="let name of templateNames" [value]="name">{{ name }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="col-12">
                        <mat-label>Data</mat-label>
                        <textarea matInput [ngModel]="item.internalData | json" (input)="onInternalDataInput($event)"
                            rows="10"></textarea>
                    </mat-form-field>
                    <ng-container *ngIf="isModusOperandi">
                        <mat-form-field class="col-12">
                            <mat-label>Modus Operandi Record</mat-label>
                            <input readonly type="text" matInput [ngModel]="recordName">
                            <button mat-icon-button matSuffix (click)="pickRecord()">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                        </mat-form-field>
                        <div class="col-12">
                            <button mat-raised-button (click)="viewData()">View Data</button>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</ng-container>