<ng-container *ngIf="item">

  <ng-container *ngIf="!context.editorMode.value">
    <div class="p-4" *ngIf="currentSlideIndex === null && !simpleMode">
      <div *ngFor="let grp of item.groups" class="mb-3">
        <h3 class="mb-0 cn-slideshow-group-title"><strong>{{ grp.title | cnLocalizedText }}</strong></h3>
        <div class="d-flex flex-wrap mx-n1 cn-block-list">
          <div *ngFor="let slide of grp.slides; index as i" class="p-1 cn-block-list-item animated fadeInRight"
            [style.animation-delay]="0.1 * i + 's'" [style.width]="item.options.itemWidth">
            <div class="cn-relative mat-elevation-z4 w-100" (click)="gotoSlide(slide)">
              <img [src]="slide.previewImage" class="w-100 d-block cn-object-cover"
                [style.aspect-ratio]="item.options.itemAspectRatio">
              <div *ngIf="slide.video"
                class="cn-overlay d-flex align-items-center justify-content-center text-primary-lighter">
                <mat-icon class="d-block"
                  style="font-size: 2rem; width: auto; height: auto;">play_circle_outline</mat-icon>
              </div>
              <div class="cn-overlay cn-block-list-hover" style="background-color: rgba(0,0,0,.5);"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <ng-container *ngIf="currentSlideIndex !== null">
      <div class="cn-slideshow-carousel animated fadeIn">
        <div class="cn-slideshow-slides-wrapper flex-grow-1">
          <!-- Slide -->
          <div [@fadeAnimation]="currentSlideIndex" class="cn-slideshow-slides">
            <div class="cn-relative w-100 h-100">
              <ng-container *ngFor="let it of allSlides; index as i; trackBy: trackByIdx">
                <div *ngIf="i === currentSlideIndex" class="cn-slideshow-slide">

                  <!-- Item link-->
                  <app-embed *ngIf="it.type === 'item'" [item]="getCachedItem(it) | async"></app-embed>

                  <!-- Video link-->
                  <div *ngIf="it.type === 'video'" class="w-100 h-100 cn-relative">
                    <video autoplay controls disablePictureInPicture controlsList="nodownload"
                      class="w-100 h-100 d-block" [src]="it.video"></video>
                  </div>

                  <!-- Image -->
                  <img *ngIf="it.type === 'image'" [src]="it.image" class="d-block w-100 h-100 cn-object-contain">

                </div>
              </ng-container>
            </div>
          </div>

          <!-- Arrows & Close-->
          <div class="cn-absolute" style="right: 0.5rem; top: 0.5rem; z-index: 1;" *ngIf="!simpleMode">
            <button mat-mini-fab color="primary" (click)="clearSlide()" class="cn-absolute">
              <mat-icon>close</mat-icon>
            </button>
          </div>

          <div class="cn-absolute cn-slideshow-prev" *ngIf="currentSlideIndex !== 0">
            <button mat-mini-fab color="primary" (click)="previousSlide()" class="cn-absolute">
              <mat-icon>chevron_left</mat-icon>
            </button>
          </div>

          <div class="cn-absolute cn-slideshow-next" *ngIf="currentSlideIndex !== slideCount - 1">
            <button mat-mini-fab color="primary" (click)="nextSlide()" class="cn-absolute">
              <mat-icon>chevron_right</mat-icon>
            </button>
          </div>

        </div>

        <!-- Controls -->
        <div class="cn-slideshow-controls mat-elevation-z1 p-4" *ngIf="!simpleMode">
          <span><strong>{{ getSlideGroup(currentSlideIndex).title | cnLocalizedText }}</strong></span>
          <span *ngIf="allSlides[currentSlideIndex].title">
            <span class="mx-2">-</span>
            <span>{{ allSlides[currentSlideIndex].title | cnLocalizedText }}</span>
          </span>
        </div>

      </div>

    </ng-container>

  </ng-container>

  <!-- Editor -->
  <ng-container *ngIf="context.editorMode.value">
    <div class="cn-editor-mode-context">
      <div class="cn-editor cn-slideshow-editor">
        <div class="cn-sidebar">
          <mat-tab-group>
            <mat-tab label="Options">
              <div class="cn-options p-3">
                <mat-form-field class="d-block">
                  <mat-label>Title</mat-label>
                  <app-editable-localized-text [(data)]="item.title"></app-editable-localized-text>
                </mat-form-field>
                <mat-form-field class="d-block">
                  <mat-label>Mode</mat-label>
                  <mat-select [(ngModel)]="item.options.mode">
                    <mat-option value="normal">Normal</mat-option>
                    <mat-option value="simple">Simple</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="d-block">
                  <mat-label>Item Width</mat-label>
                  <input type="text" matInput [(ngModel)]="item.options.itemWidth">
                </mat-form-field>
                <mat-form-field class="d-block">
                  <mat-label>Item Aspect Ratio</mat-label>
                  <input type="number" matInput [(ngModel)]="item.options.itemAspectRatio">
                </mat-form-field>
              </div>
            </mat-tab>
            <mat-tab label="Slides">
              <div class="cn-slides">

                <div class="text-center p-3">
                  <button mat-raised-button color="accent" (click)="addGroup()">
                    <mat-icon>add</mat-icon> New Group
                  </button>
                </div>

                <div cdkDropList (cdkDropListDropped)="onGroupDrop($event)" class="cn-list cn-wrap">
                  <div cdkDrag *ngFor="let grp of item.groups" [class.cn-selected]="editorMode.selectedGroup === grp">
                    <button mat-icon-button (click)="deleteGroup(grp)"><mat-icon>delete</mat-icon></button>
                    <button mat-icon-button (click)="selectGroup(grp)"><mat-icon>edit</mat-icon></button>
                    <button cdkDragHandle mat-icon-button><mat-icon>drag_handle</mat-icon></button>
                    <div *cdkDragPreview class="p-3 mat-elevation-z4">{{ grp.title | cnLocalizedText }}</div>
                    <div class="cn-list-label">{{ grp.title | cnLocalizedText }}</div>
                    <div class="cn-list-content bg-primary-lighter">
                      <div cdkDropList [cdkDropListData]="grp" (cdkDropListDropped)="onSlideDrop($event)" class="cn-list">
                        <div cdkDrag *ngFor="let slide of grp.slides" class="p-0"
                          [class.cn-selected]="editorMode.selectedSlide === slide">
                          <button mat-icon-button (click)="deleteSlide(grp,slide)"><mat-icon>delete</mat-icon></button>
                          <button mat-icon-button (click)="selectSlide(slide)"><mat-icon>edit</mat-icon></button>
                          <button cdkDragHandle mat-icon-button><mat-icon>drag_handle</mat-icon></button>
                          <div class="cn-list-label">{{ slide.title | cnLocalizedText }}</div>
                          <div *cdkDragPreview class="p-3 mat-elevation-z4">{{ slide.title | cnLocalizedText }}</div>
                        </div>

                        <div class="text-center" (click)="addSlide(grp)">
                          <button mat-icon-button>
                            <mat-icon>add</mat-icon>
                          </button>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </mat-tab>
          </mat-tab-group>
        </div>

        <div class="cn-content">
          <ng-container *ngIf="editorMode.selectedGroup && !editorMode.selectedSlide">
            <h2>Edit Group</h2>

            <mat-form-field class="d-block">
              <mat-label>Title</mat-label>
              <app-editable-localized-text [(data)]="editorMode.selectedGroup.title"></app-editable-localized-text>
            </mat-form-field>

            <mat-form-field class="d-block">
              <mat-label>Description</mat-label>
              <app-editable-localized-text multiline="true"
                [(data)]="editorMode.selectedGroup.description"></app-editable-localized-text>
            </mat-form-field>


          </ng-container>
          <ng-container *ngIf="editorMode.selectedSlide">
            <h2>Edit Slide</h2>
            <mat-form-field class="d-block">
              <mat-label>Preview Image</mat-label>
              <app-file-input [item]="this.item" contentTypeFilter="image" [(url)]="editorMode.selectedSlide.previewImage"></app-file-input>
            </mat-form-field>
            <mat-form-field class="d-block">
              <mat-label>Title</mat-label>
              <app-editable-localized-text [(data)]="editorMode.selectedSlide.title"></app-editable-localized-text>
            </mat-form-field>
            <div>
              <mat-radio-group [(ngModel)]="editorMode.selectedSlide.type">
                <mat-radio-button class="p-3" [value]="'image'">Image</mat-radio-button>
                <mat-radio-button class="p-3" [value]="'video'">Video</mat-radio-button>
                <mat-radio-button class="p-3" [value]="'item'">Item</mat-radio-button>
              </mat-radio-group>
            </div>

            <mat-form-field class="d-block" *ngIf="editorMode.selectedSlide.type === 'image'">
              <mat-label>Image</mat-label>
              <app-file-input [item]="this.item" contentTypeFilter="image" [(url)]="editorMode.selectedSlide.image"></app-file-input>
            </mat-form-field>

            <mat-form-field class="d-block" *ngIf="editorMode.selectedSlide.type === 'video'">
              <mat-label>Video</mat-label>
              <app-file-input [item]="this.item" contentTypeFilter="video" [(url)]="editorMode.selectedSlide.video"></app-file-input>
            </mat-form-field>


            <mat-form-field class="d-block" *ngIf="editorMode.selectedSlide.type === 'item'">
              <mat-label>Embedded Item</mat-label>
              <app-item-input [(value)]="editorMode.selectedSlide.itemLink"></app-item-input>
            </mat-form-field>


          </ng-container>
        </div>

      </div>
    </div>
  </ng-container>

</ng-container>