<ng-container *ngIf="item">
    <div class="cn-app-container" [appBgImage]="context.config.backgroundImage">
        <div class="cn-app-header d-flex">
            <div *ngIf="!context.config.headerTemplate" class="p-2 align-self-start cn-app-default-header">
                <h1 class="cn-app-title m-0">{{ context.config.title | cnLocalizedText }}</h1>
                <h2 class="cn-item-title" *ngIf="item && item.title">{{ item.title }}</h2>
            </div>
            <div *ngIf="context.config.headerTemplate" class="h-100">
                <ng-container *ngTemplateOutlet="context.getTemplate(context.config.headerTemplate)"></ng-container>
            </div>
            <div class="ml-auto"></div>
            <div class="align-self-end d-flex flex-column h-100 text-right">

                <img style="height: 4rem;" class="pr-2 pt-2 align-self-end" src="core-assets/images/logo-light.png">

                <div class="mt-auto"></div>

                <div class="d-flex align-items-center p-2">
                    <ng-container *ngIf="locales && locales.length > 1">
                        <mat-menu #localeMenu>
                            <button mat-menu-item class="text-right" *ngFor="let l of locales"
                                (click)="context.setCurrentLocale(l.id, true)">
                                {{l.description}}
                                <img *ngIf="l.flagIcon" [src]="l.flagIcon" class="ml-1"
                                    style="vertical-align:middle; height: 24px;">
                            </button>
                        </mat-menu>
                        <div class="text-right">
                            <button mat-button [matMenuTriggerFor]="localeMenu">
                                <span>{{ context.getCurrentLocale().description }}</span>
                                <img *ngIf="context.getCurrentLocale().flagIcon" class="ml-1"
                                    [src]="context.getCurrentLocale().flagIcon" style="height: 24px;">
                            </button>
                        </div>

                    </ng-container>

                    <button class="mx-1" mat-mini-fab color="primary" (click)="goBack()">
                        <mat-icon>chevron_left</mat-icon>
                    </button>
                    <button class="mx-1" mat-mini-fab color="primary" (click)="goUp()">
                        <mat-icon>arrow_upward</mat-icon>
                    </button>
                    <button class="mx-1" mat-mini-fab color="primary" (click)="goHome()">
                        <mat-icon>home</mat-icon>
                    </button>
                </div>
            </div>
        </div>
        <div class="cn-app-content" #appContent>
            <app-item [item]="item"></app-item>
        </div>
    </div>
</ng-container>