<ng-template #explorerLogo>
    <img class="h-100" src="core-assets/images/logo-light.png">
</ng-template>

<ng-template #newItemDialogTmpl let-data>
    <h2>New Item</h2>
    <form #self="ngForm" (ngSubmit)="data.submit(self)">
        <div class="row">
            <mat-form-field class="col-12">
                <mat-label>ID</mat-label>
                <input type="text" matInput name="id" [(ngModel)]="data.name">
            </mat-form-field>
            <mat-form-field class="col-12">
                <mat-label>Title</mat-label>
                <input type="text" matInput name="title" [(ngModel)]="data.title" required>
            </mat-form-field>
            <mat-form-field class="col-12">
                <mat-label>Type</mat-label>
                <mat-select name="type" required [(ngModel)]="data.type">
                    <mat-option value="block-list">Block List</mat-option>
                </mat-select>
            </mat-form-field>
            <div class="col-12 text-right">
                <button type="submit" mat-raised-button>Create</button>
            </div>
        </div>
    </form>
</ng-template>

<ng-container *ngIf="item">

    <div class="cn-app-mobile-menu" [class.cn-show]="showMobileMenu">
        <div class="d-flex w-100 p-2 align-items-center cn-app-mobile-menu-header">

            <div class="cn-logo">
                <ng-container *ngTemplateOutlet="explorerLogo" class="cn-logo"></ng-container>
            </div>


            <div class="ml-auto">
                <button mat-icon-button (click)="toggleMobileMenu()">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
        </div>

        <div class="cn-app-mobile-menu-items">
            <div (click)="goBack(); toggleMobileMenu()">
                <mat-icon>chevron_left</mat-icon> <span>{{ "back" | cnLocalizedText }}</span>
            </div>
            <div (click)="goUp(); toggleMobileMenu()">
                <mat-icon>arrow_upward</mat-icon> <span>{{ "up" | cnLocalizedText }}</span>
            </div>
            <div (click)="goHome(); toggleMobileMenu()">
                <mat-icon>home</mat-icon> <span>{{ "home" | cnLocalizedText }}</span>
            </div>

            <ng-container *ngIf="context.config.headerLinks">
                <ng-container *ngFor="let link of context.config.headerLinks">
                    <div [routerLink]="['/', link.itemId]" (click)=" toggleMobileMenu()">
                        <mat-icon>link</mat-icon> <span>{{ link.title | cnLocalizedText }}</span>
                    </div>
                </ng-container>
            </ng-container>

        </div>

    </div>

    <div class="cn-app-container" [appBgImage]="context.config.backgroundImage">


        <div class="cn-app-header d-flex">

            <div *ngIf="!context.config.headerTemplate" class="p-2 align-self-start cn-app-default-header h-100">
                <div class="d-none d-lg-block">
                    <h1 class="cn-app-title m-0">{{ context.config.title | cnLocalizedText }}</h1>
                    <h2 class="cn-item-title" *ngIf="item && item.title">{{ item.title | cnLocalizedText }}</h2>
                </div>
                <div class="d-flex align-items-center d-lg-none h-100">
                    <img class="h-100" src="core-assets/images/logo-light.png">
                </div>
            </div>
            <div *ngIf="context.config.headerTemplate" class="h-100 w-100">
                <ng-container
                    *ngTemplateOutlet="context.getTemplate(context.config.headerTemplate); context: { $implicit : { item: item } }"></ng-container>
            </div>
            <div class="ml-auto"></div>

            <!-- Header Right Mobile -->
            <div class="d-none d-flex d-lg-none align-items-center h-100 p-2">

                <div (click)="nextLocale()">
                    <span class="text-uppercase" *ngIf="!context.getCurrentLocale().flagIcon">{{
                        context.getCurrentLocale().id }}</span>
                    <img *ngIf="context.getCurrentLocale().flagIcon" class="d-block"
                        [src]="context.getCurrentLocale().flagIcon" style="height: 1rem;">
                </div>

                <span class="ml-4 mr-3 border-left border-dark" style="height: 1.5rem;"></span>

                <button mat-icon-button (click)="toggleMobileMenu()">
                    <mat-icon>menu</mat-icon>
                </button>
            </div>

            <!-- Header Right Desktop -->
            <div class="align-self-end d-none d-lg-flex flex-column h-100 text-right">

                <img style="height: 4rem;" class="pr-2 pt-2 align-self-end" src="core-assets/images/logo-light.png">

                <div class="mt-auto"></div>


                <div class="d-flex align-items-center p-2">

                    <mat-menu #linksMenu>
                        <ng-container *ngFor="let link of context.config.headerLinks">
                            <button mat-menu-item [routerLink]="['/', link.itemId]">
                                {{ link.title | cnLocalizedText }}
                            </button>
                        </ng-container>
                    </mat-menu>

                    <ng-container *ngIf="locales && locales.length > 1">
                        <mat-menu #localeMenu>
                            <button mat-menu-item class="text-right" *ngFor="let l of locales"
                                (click)="context.setCurrentLocale(l.id, true)">
                                {{l.description}}
                                <img *ngIf="l.flagIcon" [src]="l.flagIcon" class="ml-1"
                                    style="vertical-align:middle; height: 24px;">
                            </button>
                        </mat-menu>
                        <div class="text-right">
                            <button mat-button [matMenuTriggerFor]="localeMenu">
                                <span>{{ context.getCurrentLocale().description }}</span>
                                <img *ngIf="context.getCurrentLocale().flagIcon" class="ml-1"
                                    [src]="context.getCurrentLocale().flagIcon" style="height: 24px;">
                            </button>
                        </div>

                    </ng-container>


                    <button class="mx-1" mat-icon-button (click)="goBack()">
                        <mat-icon>chevron_left</mat-icon>
                    </button>
                    <button class="mx-1" mat-icon-button (click)="goUp()">
                        <mat-icon>arrow_upward</mat-icon>
                    </button>
                    <button class="mx-1" mat-icon-button (click)="goHome()">
                        <mat-icon>home</mat-icon>
                    </button>
                    <button mat-icon-button *ngIf="context.config.headerLinks" [matMenuTriggerFor]="linksMenu">
                        <mat-icon>more_vert</mat-icon>
                    </button>

                </div>
            </div>
        </div>
        <div class="cn-app-content" #appContent>

            <div class="cn-editor-mode-toolbar">
                <div>
                    <button (click)="saveItem()" [disabled]="!context.editorMode.value" class="mx-1" mat-icon-button>
                        <mat-icon>save</mat-icon>
                    </button>
                    <button class="mx-1" [class.text-accent]="context.editorMode.value" mat-icon-button
                        (click)="toggleEditorMode()">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button (click)="newItem()" [disabled]="context.editorMode.value" class="mx-1" mat-icon-button>
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
            </div>

            <app-item [item]="item"></app-item>
        </div>
    </div>


</ng-container>