<mat-menu #addPinMenu>
    <button *ngFor="let pl of pinLayers" mat-menu-item (click)="addPin(pl)">{{ pl.title | cnLocalizedText }}</button>
</mat-menu>

<mat-menu #addMenu>
    <button mat-menu-item (click)="addModel()">Model...</button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="addCollider()">Collider</button>
    <mat-divider></mat-divider>
    <button mat-menu-item [disabled]="pinLayers.length === 0" [matMenuTriggerFor]="addPinMenu">Pin</button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="addLight('ambient')">Ambient Light</button>
    <button mat-menu-item (click)="addLight('directional')">Directional Light</button>
</mat-menu>

<mat-menu #mainMenu>
    <button mat-menu-item [matMenuTriggerFor]="addMenu">
        <mat-icon>add</mat-icon>
        <span>Add</span>
    </button>
    <button mat-menu-item (click)="editPinLayers()">
        <mat-icon>place</mat-icon>
        <span>Pin Layers...</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="export()">
        <mat-icon>save</mat-icon>
        <span>Save</span>
    </button>
</mat-menu>

<div class="cn-three-viewer" [style.display]="loadingScreen.show ? 'none' : 'block'">

    <div class="cn-three-viewer-container" #containerRef (tap)="onCanvasClick($event.srcEvent)"></div>

    <div class="cn-three-viewer-pin-popup" *ngIf="selectedPinStyle" [ngStyle]="selectedPinStyle">
        <div class="float-right" (click)="selectedPin=null" style="cursor: pointer;">
            <mat-icon>close</mat-icon>
        </div>
        <h3>{{ selectedPin.title | cnLocalizedText }}</h3>
        <div>{{ selectedPin.description | cnLocalizedText }}</div>
        <div *ngIf="selectedPin.href" class="text-right mt-2">
            <a mat-button color="primary" [cnLink]="selectedPin.href | cnUrl : item">
                <span>{{ selectedPin.hrefText | cnLocalizedText }}</span>
                <mat-icon>arrow_forward</mat-icon>
						</a>
        </div>
    </div>

    <div class="cn-three-viewer-controls">
        <button mat-mini-fab color="primary" (click)="showLayers=!showLayers">
            <mat-icon>layers</mat-icon>
        </button>
        <button *ngIf="allowEditorMode" color="primary" class="ml-2" mat-mini-fab (click)="editorMode=true">
            <mat-icon>create</mat-icon>
        </button>
    </div>

    <div cdkDrag class="cn-three-viewer-layers" [class.cn-hidden]="!showLayers">

        <mat-toolbar color="primary" cdkDragHandle style="cursor: move">
            <span>Layers</span>
            <button class="ml-auto" mat-icon-button (click)="showLayers=false">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar>

        <div class="cn-three-viewer-layers-scrollpane">

            <ng-container *ngFor="let model of this.models.children">
                <div class="cn-three-viewer-layer d-flex align-items-center">
                    <div *ngIf="model.previewImage" [appBgImage]="model.previewImage | cnUrl : item"
                        class="cn-three-viewer-layer-preview cn-bg-cover"></div>
                    <span class="px-2">{{ model.title | cnLocalizedText }}</span>
                    <div class="ml-auto"></div>
                    <div>
                        <mat-slider color="primary" min="0" max="1" step="0.01" [value]="model.opacity"
                            (change)="model.opacity=$event.value"></mat-slider>
                    </div>
                    <div class="ml-2">
                        <button mat-icon-button (click)="model.visible=!model.visible">
                            <mat-icon *ngIf="model.visible">visibility</mat-icon>
                            <mat-icon *ngIf="!model.visible" style="opacity: 0.25;">visibility_off</mat-icon>
                        </button>
                    </div>
                </div>


                <div *ngIf="model.materials.length > 1" class="border-bottom">
                    <div *ngFor="let material of model.materials; index as i"
                        class="cn-three-viewer-layer cn-indent align-items-center d-flex">
                        <div *ngIf="material.previewImage" class="cn-three-viewer-layer-preview"></div>
                        <span class="px-2">{{ material.title | cnLocalizedText }}</span>
                        <div class="ml-auto"></div>
                        <div class="ml-2">
                            <button mat-icon-button (click)="model.currentMaterial=i">
                                <mat-icon *ngIf="model.currentMaterial===i">radio_button_checked</mat-icon>
                                <mat-icon *ngIf="!(model.currentMaterial===i)">radio_button_unchecked</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>

            </ng-container>

            <ng-container *ngFor="let pinLayer of this.pinLayers">
                <div class="cn-three-viewer-layer d-flex align-items-center">
                    <div class="cn-three-viewer-layer-preview cn-bg-cover" [appBgImage]="pinLayer.previewImage.src">
                    </div>
                    <span class="px-2">{{ pinLayer.title | cnLocalizedText }}</span>
                    <div class="ml-auto"></div>
                    <div class="ml-2">
                        <button mat-icon-button (click)="pinLayer.visible=!pinLayer.visible">
                            <mat-icon *ngIf="pinLayer.visible">visibility</mat-icon>
                            <mat-icon *ngIf="!pinLayer.visible" style="opacity: 0.25;">visibility_off</mat-icon>
                        </button>
                    </div>
                </div>
            </ng-container>

        </div>
    </div>

    <div class="cn-three-viewer-editor cn-inspector" *ngIf="allowEditorMode" [class.cn-hidden]="!editorMode">

        <div class="p-2 text-center" *ngIf="!selectedObject">
            <em>No object selected</em>
        </div>

        <div *ngIf="selectedObject" class="px-2">

            <div class="cn-three-viewer-editor-properties mt-2">
                <div class="cn-caption">General</div>

                <div class="cn-three-viewer-editor-property">
                    <span>Title</span>
                    <div class="ml-auto"></div>
                    <app-editable-localized-text style="width: 10rem;" class="cn-input" [(data)]="selectedObject.title">
                    </app-editable-localized-text>
                </div>

                <div class="cn-three-viewer-editor-property">
                    <span>Description</span>
                    <div class="ml-auto"></div>
                    <app-editable-localized-text style="width: 10rem;" class="cn-input"
                        [(data)]="selectedObject.description" multiline="true"></app-editable-localized-text>
                </div>

            </div>

            <!-- Transform -->
            <div class="cn-three-viewer-editor-properties mt-2">
                <div class="cn-caption">Transform</div>

                <div class="cn-three-viewer-editor-property">
                    <span>Position</span>
                    <div class="ml-auto"></div>
                    <app-vector-input [data]="selectedObject.position"></app-vector-input>
                </div>
                <div class="cn-three-viewer-editor-property">
                    <span>Rotation</span>
                    <div class="ml-auto"></div>
                    <app-vector-input [data]="selectedObject.rotation"></app-vector-input>
                </div>
                <div class="cn-three-viewer-editor-property">
                    <span>Scale</span>
                    <div class="ml-auto"></div>
                    <app-vector-input [data]="selectedObject.scale"></app-vector-input>
                </div>

            </div>

            <!-- User Controls -->
            <!--
            <div class="cn-three-viewer-editor-properties mt-2">
                <div class="cn-caption">Controls</div>

                <div class="cn-three-viewer-editor-property">
                    <span>Opacity</span>
                    <div class="ml-auto"></div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div class="cn-three-viewer-editor-property">
                    <span>Visibility</span>
                    <div class="ml-auto"></div>
                    <mat-checkbox></mat-checkbox>
                </div>
            </div>
            -->

            <!-- Pin -->
            <ng-container *ngIf="selectedObject && selectedObject.isThreeViewerPin">
                <div class="cn-three-viewer-editor-properties mt-2">
                    <div class="cn-caption">Pin</div>

                    <div class="cn-three-viewer-editor-property">
                        <span>Layer</span>
                        <div class="ml-auto"></div>
                        <select class="cn-input" style="width: 10rem;"
                            [ngModel]="pinLayers.indexOf(selectedObject.layer)"
                            (ngModelChange)="selectedObject.layer = pinLayers[$event]">
                            <option *ngFor="let pl of pinLayers; index as plIdx" [value]="plIdx">
                                {{ pl.title | cnLocalizedText }}</option>
                        </select>
                    </div>

                    <div class="cn-three-viewer-editor-property">
                        <span>Link</span>
                        <div class="ml-auto"></div>
                        <input class="cn-input" style="width: 10rem;" [(ngModel)]="selectedObject.href">
                    </div>


                    <div class="cn-three-viewer-editor-property">
                        <span>Link Text</span>
                        <div class="ml-auto"></div>
                        <app-editable-localized-text style="width: 10rem;" class="cn-input"
                            [(data)]="selectedObject.hrefText"></app-editable-localized-text>
                    </div>

                </div>
            </ng-container>


            <!-- Light -->
            <div class="cn-three-viewer-editor-properties mt-2"
                *ngIf="selectedObject && selectedObject.isThreeViewerLight">
                <div class="cn-caption">Light</div>


                <div class="cn-three-viewer-editor-property">
                    <span>Type</span>
                    <div class="ml-auto"></div>
                    <div class="cn-input" style="width: 10rem;">{{ selectedObject.lightType }}</div>
                </div>

                <div class="cn-three-viewer-editor-property">
                    <span>Color</span>
                    <div class="ml-auto"></div>
                    <input style="width: 10rem;" type="color" [ngModel]="'#' + selectedObject.color.getHexString()"
                        (ngModelChange)="selectedObject.color.set($event)">
                </div>

                <ng-container *ngIf="selectedObject.lightType === 'directional'">
                    <div class="cn-three-viewer-editor-property">
                        <span>Cast Shadow</span>
                        <div class="ml-auto"></div>
                        <mat-checkbox [checked]="selectedObject.light.castShadow"
                            (change)="selectedObject.light.castShadow=$event.checked">
                        </mat-checkbox>
                    </div>

                    <ng-container *ngIf="selectedObject.light.castShadow">
                        <div class="cn-three-viewer-editor-property">
                            <span>Map Width</span>
                            <div class="ml-auto"></div>
                            <select class="cn-input" style="width: 10rem;" [(ngModel)]="selectedObject.shadowMapWidth">
                                <option *ngFor="let s of shadowMapSizes" [value]="s">{{ s }}</option>
                            </select>
                        </div>

                        <div class="cn-three-viewer-editor-property">
                            <span>Map Height</span>
                            <div class="ml-auto"></div>
                            <select class="cn-input" style="width: 10rem;" [(ngModel)]="selectedObject.shadowMapHeight">
                                <option *ngFor="let s of shadowMapSizes" [value]="s">{{ s }}</option>
                            </select>
                        </div>

                        <div class="cn-three-viewer-editor-property">
                            <span>Camera</span>
                            <div class="ml-auto"></div>
                            <app-vector-input [data]="selectedObject.shadowCameraSize"
                                (dataChange)="selectedObject.shadowCameraSize=$event"></app-vector-input>
                        </div>
                    </ng-container>

                </ng-container>

            </div>

            <!-- Model -->
            <div class="cn-three-viewer-editor-properties mt-2"
                *ngIf="selectedObject && selectedObject.isThreeViewerModel">
                <div class="cn-caption">Model</div>


                <div class="cn-three-viewer-editor-property">
                    <span>Preview Image</span>
                    <div class="ml-auto"></div>
                    <mat-icon style="cursor: pointer;" *ngIf="!selectedObject.previewImage"
                        (click)="uploadModelPreviewImage(selectedObject)">more_horiz</mat-icon>
                    <mat-icon style="cursor: pointer;" *ngIf="selectedObject.previewImage"
                        (click)="selectedObject.previewImage=undefined">delete</mat-icon>
                </div>

                <div class="cn-three-viewer-editor-property">
                    <span>Visible</span>
                    <div class="ml-auto"></div>
                    <mat-checkbox [checked]="selectedObject.visible" (change)="selectedObject.visible=$event.checked">
                    </mat-checkbox>
                </div>

                <div class="cn-three-viewer-editor-property">
                    <span>Opacity</span>
                    <div class="ml-auto"></div>
                    <input class="cn-slider cn-slider-primary" style="width:10rem" type="range" min="0" max="1"
                        step="0.01" [(ngModel)]="selectedObject.opacity">
                </div>

                <div class="cn-three-viewer-editor-property">
                    <span>Material</span>
                    <div class="ml-auto"></div>
                    <select class="cn-input" style="width: 10rem;" [(ngModel)]="selectedObject.currentMaterial">
                        <option *ngFor="let mat of selectedObject.materials; index as matIdx" [value]="matIdx">
                            {{ mat.title | cnLocalizedText }}</option>
                    </select>
                </div>

                <div class="cn-three-viewer-editor-property">
                    <button class="w-100" mat-raised-button color="primary" (click)="editMaterials(selectedObject)">Edit
                        Materials</button>
                </div>

            </div>

        </div>
    </div>

    <div class="cn-three-viewer-editor cn-hierarchy" *ngIf="allowEditorMode" [class.cn-hidden]="!editorMode">

        <div class="p-2 bg-primary text-primary-contrast d-flex align-items-center">
            <button mat-icon-button [matMenuTriggerFor]="mainMenu">
                <mat-icon>menu</mat-icon>
            </button>
            <div class="ml-auto"></div>
            <button mat-icon-button (click)="editorMode=false">
                <mat-icon>close</mat-icon>
            </button>
        </div>

        <div class="px-2">
            <ul class="cn-three-viewer-editor-nav mt-2">
                <li class="cn-caption" (click)="editorActiveTab = 'models'"
                    [class.cn-selected]="editorActiveTab === 'models'">Models</li>
                <li class="cn-caption" (click)="editorActiveTab = 'lights'"
                    [class.cn-selected]="editorActiveTab === 'lights'">Lights</li>
                <li class="cn-caption" (click)="editorActiveTab = 'pins'"
                    [class.cn-selected]="editorActiveTab === 'pins'">
                    Pins</li>
                <li class="cn-caption" (click)="editorActiveTab = 'colliders'"
                    [class.cn-selected]="editorActiveTab === 'colliders'">
                    Colliders</li>
            </ul>

            <div class="cn-three-viewer-editor-item-list" style="height: 30rem;" cdkDropList
                (cdkDropListDropped)="cdkMoveItemInArray(activeEditorHierarchyGroup.children, $event.previousIndex, $event.currentIndex)">

                <ng-container *ngIf="activeEditorHierarchyGroup">
                    <ng-container *ngFor="let m of activeEditorHierarchyGroup.children">
                        <div cdkDrag>
                            <div class="d-flex align-items-center w-100 px-2 cn-three-viewer-editor-item"
                                [class.cn-selected]="selectedObject === m" (click)="selectedObject = m">
                                <span>{{ m.title | cnLocalizedText }}</span>
                                <div class="ml-auto"></div>

                                <button mat-icon-button
                                    (click)="activeEditorHierarchyGroup.remove(m); onObjectRemoved(m)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </div>
                        </div>
                    </ng-container>
                    <div class="text-center p-3" *ngIf="activeEditorHierarchyGroup.children.length === 0">
                        <em>There are no {{ editorActiveTab }}</em>
                    </div>
                </ng-container>
            </div>

        </div>

    </div>

</div>

<div class="cn-overlay cn-three-viewer-loading" [appBgImage]="item.loadingBackgroundImage | cnUrl : item"
    *ngIf="loadingScreen.show">
    <div class="cn-three-viewer-loading-progress text-center">
        <div class="cn-three-viewer-loading-text">{{ loadingScreen.text }} <span
                *ngIf="loadingScreen.mode === 'determinate'">({{ loadingScreen.current }}/{{ loadingScreen.total }})</span>
        </div>
        <div class="my-2"></div>
        <mat-progress-bar [mode]="loadingScreen.mode" [value]="loadingScreen.current / loadingScreen.total * 100">
        </mat-progress-bar>
    </div>
</div>