<mat-menu #addPinMenu>
    <button *ngFor="let pl of pinLayers" mat-menu-item (click)="addPin(pl)">{{ pl.title | cnLocalizedText }}</button>
</mat-menu>

<mat-menu #addMenu>
    <button mat-menu-item (click)="addModel()">Model...</button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="addCollider()">Collider</button>
    <mat-divider></mat-divider>
    <button mat-menu-item [disabled]="pinLayers.length === 0" [matMenuTriggerFor]="addPinMenu">Pin</button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="addLight('ambient')">Ambient Light</button>
    <button mat-menu-item (click)="addLight('directional')">Directional Light</button>
</mat-menu>

<mat-menu #mainMenu>
    <button mat-menu-item [matMenuTriggerFor]="addMenu">
        <mat-icon>add</mat-icon>
        <span>Add</span>
    </button>
    <button mat-menu-item (click)="editPinLayers()">
        <mat-icon>place</mat-icon>
        <span>Pin Layers...</span>
    </button>
</mat-menu>

<div class="cn-three-viewer" [style.display]="loadingScreen.show ? 'none' : 'block'">

    <div class="cn-three-viewer-container" #containerRef (tap)="onCanvasClick($event.srcEvent)"></div>

    <div class="cn-three-viewer-pin-popup" *ngIf="selectedPinStyle" [ngStyle]="selectedPinStyle">
        <div class="float-right" (click)="selectedPin=null" style="cursor: pointer;">
            <mat-icon>close</mat-icon>
        </div>
        <h3>{{ selectedPin.title | cnLocalizedText }}</h3>
        <div>{{ selectedPin.description | cnLocalizedText }}</div>
        <div *ngIf="selectedPin.itemId" class="text-right mt-2">
            <a mat-button color="primary" [routerLink]="['/', selectedPin.itemId]">
                <span>{{ selectedPin.linkText | cnLocalizedText }}</span>
                <mat-icon>arrow_forward</mat-icon>
            </a>
        </div>
    </div>

    <div class="cn-three-viewer-controls">
        <button mat-mini-fab color="primary" (click)="showLayers=!showLayers" *ngIf="layerControls">
            <mat-icon>layers</mat-icon>
        </button>
        <button mat-mini-fab color="primary" class="ml-2" (click)="resetCamera()">
            <mat-icon>3d_rotation</mat-icon>
        </button>

    </div>


    <div cdkDrag class="cn-three-viewer-layers"
        [class.cn-hidden]="!layerControls || !showLayers || context.editorMode.value">

        <mat-toolbar color="primary" cdkDragHandle style="cursor: move">
            <span class="text-capitalize">{{ "layers" | cnLocalizedText }}</span>
            <button class="ml-auto" mat-icon-button (click)="showLayers=false">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar>

        <div class="cn-three-viewer-layers-scrollpane">

            <ng-container *ngFor="let model of this.models.children">
                <div class="cn-three-viewer-layer d-flex align-items-center">
                    <div *ngIf="model.previewImage" [appBgImage]="model.previewImage | cnUrl : item"
                        class="cn-three-viewer-layer-preview cn-bg-cover"></div>
                    <span class="px-2">{{ model.title | cnLocalizedText }}</span>
                    <div class="ml-auto"></div>
                    <div *ngIf="model.transparent">
                        <mat-slider color="primary" min="0" max="1" step="0.01" [value]="model.opacity"
                            (change)="model.opacity=$event.value"></mat-slider>
                    </div>
                    <div class="ml-2">
                        <button mat-icon-button (click)="model.visible=!model.visible">
                            <mat-icon *ngIf="model.visible">visibility</mat-icon>
                            <mat-icon *ngIf="!model.visible" style="opacity: 0.25;">visibility_off</mat-icon>
                        </button>
                    </div>
                </div>


                <div *ngIf="model.materials.length > 1" class="border-bottom">
                    <div *ngFor="let material of model.materials; index as i"
                        class="cn-three-viewer-layer cn-indent align-items-center d-flex">
                        <div *ngIf="material.previewImage" class="cn-three-viewer-layer-preview"></div>
                        <span class="px-2">{{ material.title | cnLocalizedText }}</span>
                        <div class="ml-auto"></div>
                        <div class="ml-2">
                            <button mat-icon-button (click)="model.currentMaterial=i">
                                <mat-icon *ngIf="model.currentMaterial===i">radio_button_checked</mat-icon>
                                <mat-icon *ngIf="!(model.currentMaterial===i)">radio_button_unchecked</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>

            </ng-container>

            <ng-container *ngFor="let pinLayer of this.pinLayers">
                <ng-container *ngIf="!pinLayer.transparent">
                    <div class="cn-three-viewer-layer d-flex align-items-center">
                        <div class="cn-three-viewer-layer-preview cn-bg-cover" [appBgImage]="pinLayer.previewImage.src">
                        </div>
                        <span class="px-2">{{ pinLayer.title | cnLocalizedText }}</span>
                        <div class="ml-auto"></div>
                        <div class="ml-2">
                            <button mat-icon-button (click)="pinLayer.visible=!pinLayer.visible">
                                <mat-icon *ngIf="pinLayer.visible">visibility</mat-icon>
                                <mat-icon *ngIf="!pinLayer.visible" style="opacity: 0.25;">visibility_off</mat-icon>
                            </button>
                        </div>
                    </div>
                </ng-container>
            </ng-container>

        </div>
    </div>

    <ng-container *ngIf="userPopup">
        <div class="cn-three-viewer-user-popup d-none d-lg-block" *ngIf="userPopup.open">
            <mat-icon class="cn-close" (click)="toggleUserPopup(false)">close</mat-icon>
            <app-page [item]="userPopup.item"></app-page>
        </div>

        <button mat-mini-fab color="primary" class="cn-three-viewer-user-popup-open d-none d-lg-block"
            *ngIf="!userPopup.open" (click)="toggleUserPopup(true)">
            <mat-icon>info</mat-icon>
        </button>
    </ng-container>

    <div class="cn-three-viewer-editor cn-inspector" [class.cn-hidden]="!context.editorMode.value">

        <ul class="cn-three-viewer-editor-nav border-bottom mt-2">
            <li class="cn-caption" (click)="editorActiveTab = 'scene'"
                [class.cn-selected]="editorActiveTab === 'scene'">Scene</li>
            <li class="cn-caption" (click)="editorActiveTab = 'object-inspector'"
                [class.cn-selected]="editorActiveTab === 'object-inspector'">Object Inspector</li>
        </ul>

        <!-- Scene Inspector -->
        <ng-container *ngIf="editorActiveTab === 'scene'">

            <div class="cn-three-viewer-editor-properties">
                <div class="cn-caption">General</div>
                <mat-form-field class="d-block">
                    <mat-label>Title</mat-label>
                    <app-editable-localized-text style="width: 10rem;"
                        [(data)]="item.title"></app-editable-localized-text>
                </mat-form-field>
            </div>

            <div class="cn-three-viewer-editor-properties">
                <div class="cn-caption">Camera</div>
                <mat-form-field class="d-block">
                    <mat-label>Type</mat-label>
                    <mat-select [ngModel]="item.camera.controls.type" (ngModelChange)="onCameraControlsChange($event)">
                        <mat-option value="fly">Fly</mat-option>
                        <mat-option value="orbit">Orbit</mat-option>
                    </mat-select>
                </mat-form-field>

                <div class="row no-gutters">
                    <mat-form-field class="col-6">
                        <mat-label>Rot. Speed</mat-label>
                        <input type="number" matInput [(ngModel)]="item.camera.controls.rotationSpeed">
                    </mat-form-field>
                    <mat-form-field class="col-6">
                        <mat-label>Zoom Step</mat-label>
                        <input type="number" matInput [(ngModel)]="item.camera.controls.zoomStep">
                    </mat-form-field>

                    <ng-container *ngIf="item.camera.controls.type == 'orbit'">

                        <mat-form-field class="col-6">
                            <mat-label>Min Distance</mat-label>
                            <input type="number" matInput [(ngModel)]="item.camera.controls.minDistance">
                        </mat-form-field>

                        <mat-form-field class="col-6">
                            <mat-label>Max Distance</mat-label>
                            <input type="number" matInput [(ngModel)]="item.camera.controls.maxDistance">
                        </mat-form-field>

                    </ng-container>

                    <ng-container *ngIf="item.camera.controls.type == 'fly'">
                        <mat-form-field class="col-6">
                            <mat-label>Zoom Damping</mat-label>
                            <input type="number" matInput [(ngModel)]="item.camera.controls.zoomDamping">
                        </mat-form-field>
                    </ng-container>

                </div>






            </div>
        </ng-container>


        <!-- Object Inspector -->
        <ng-container *ngIf="editorActiveTab === 'object-inspector'">
            <div class="p-2 text-center" *ngIf="!selectedObject">
                <em>No object selected</em>
            </div>

            <div *ngIf="selectedObject">
                <!-- General -->
                <div class="cn-three-viewer-editor-properties">
                    <div class="cn-caption">General</div>

                    <mat-form-field class="d-block">
                        <mat-label>Title</mat-label>
                        <app-editable-localized-text [(data)]="selectedObject.title"></app-editable-localized-text>
                    </mat-form-field>

                    <mat-form-field class="d-block">
                        <mat-label>Description</mat-label>
                        <app-editable-localized-text [(data)]="selectedObject.description"
                            multiline="true"></app-editable-localized-text>
                    </mat-form-field>

                </div>

                <!-- Transform -->
                <div class="cn-three-viewer-editor-properties">
                    <div class="cn-caption">Transform</div>

                    <mat-form-field class="d-block">
                        <mat-label>Position</mat-label>
                        <app-vector-input [data]="selectedObject.position"></app-vector-input>
                    </mat-form-field>

                    <mat-form-field class="d-block">
                        <mat-label>Rotation</mat-label>
                        <app-vector-input [data]="selectedObject.rotation"></app-vector-input>
                    </mat-form-field>


                    <mat-form-field class="d-block">
                        <mat-label>Scale</mat-label>
                        <app-vector-input [data]="selectedObject.scale"></app-vector-input>
                    </mat-form-field>


                </div>


                <!-- Pin -->
                <ng-container *ngIf="selectedObject && selectedObject.isThreeViewerPin">
                    <div class="cn-three-viewer-editor-properties m-2">
                        <div class="cn-caption">Pin</div>

                        <mat-form-field class="d-block">
                            <mat-label>Layer</mat-label>
                            <mat-select [ngModel]="pinLayers.indexOf(selectedObject.layer)" (ngModelChange)="selectedObject.layer = pinLayers[$event]">
                                <mat-option *ngFor="let pl of pinLayers; index as plIdx" [value]="plIdx">{{ pl.title | cnLocalizedText }}</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="d-block">
                            <mat-label>Link</mat-label>
                            <app-item-input [(value)]="selectedObject.itemId"></app-item-input>
                        </mat-form-field>
                        
                        <mat-form-field class="d-block">
                            <mat-label>Link Text</mat-label>
                            <app-editable-localized-text [(data)]="selectedObject.linkText"></app-editable-localized-text>
                        </mat-form-field>

                    </div>
                </ng-container>


                <!-- Light -->
                <div class="cn-three-viewer-editor-properties"
                    *ngIf="selectedObject && selectedObject.isThreeViewerLight">
                    <div class="cn-caption">Light</div>

                    <div class="row">
                        <mat-form-field class="col-6">
                            <mat-label>Type</mat-label>
                            <input matInput [ngModel]="selectedObject.lightType">
                        </mat-form-field>
                        <mat-form-field class="col-6">
                            <mat-label>Color</mat-label>
                            <input matInput type="color" [ngModel]="'#' + selectedObject.color.getHexString()"
                                (ngModelChange)="selectedObject.color.set($event)">
                        </mat-form-field>

                        <ng-container *ngIf="selectedObject.lightType === 'directional'">
                            <div class="col-12 my-2">
                                <mat-checkbox [checked]="selectedObject.light.castShadow"
                                    (change)="selectedObject.light.castShadow=$event.checked">
                                    Cast Shadow
                                </mat-checkbox>
                            </div>
                            <ng-container *ngIf="selectedObject.light.castShadow">

                                <mat-form-field class="col-6">
                                    <mat-label>Map Width</mat-label>
                                    <mat-select [(ngModel)]="selectedObject.shadowMapWidth">
                                        <mat-option *ngFor="let s of shadowMapSizes" [value]="s">{{ s }}</mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field class="col-6">
                                    <mat-label>Map Height</mat-label>
                                    <mat-select [(ngModel)]="selectedObject.shadowMapHeight">
                                        <mat-option *ngFor="let s of shadowMapSizes" [value]="s">{{ s }}</mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field class="col-12">
                                    <mat-label>Camera</mat-label>
                                    <app-vector-input [data]="selectedObject.shadowCameraSize"
                                        (dataChange)="selectedObject.shadowCameraSize=$event"></app-vector-input>
                                </mat-form-field>

                            </ng-container>

                        </ng-container>

                    </div>




                </div>

                <!-- Model -->
                <div class="cn-three-viewer-editor-properties"
                    *ngIf="selectedObject && selectedObject.isThreeViewerModel">
                    <div class="cn-caption">Model</div>

                    <mat-form-field class="d-block">
                        <mat-label>Preview Image</mat-label>
                        <app-file-input contentTypeFilter="image" [(url)]="selectedObject.previewImage"></app-file-input>
                    </mat-form-field>

                    <div>
                        <mat-checkbox [checked]="selectedObject.visible"
                            (change)="selectedObject.visible=$event.checked">
                            Visible
                        </mat-checkbox>
                        <mat-checkbox class="ml-2" [checked]="selectedObject.transparent"
                            (change)="selectedObject.transparent=$event.checked">
                            Transparent
                        </mat-checkbox>
                    </div>

                    <div class="d-flex align-items-center">
                        <mat-label>Opacity</mat-label>
                        <mat-slider class="flex-grow-1" min="0" max="1" step="0.01"
                            [(value)]="selectedObject.opacity"></mat-slider>
                    </div>

                    <mat-form-field class="d-block">
                        <mat-label>Material</mat-label>
                        <mat-select [(ngModel)]="selectedObject.currentMaterial">
                            <mat-option *ngFor="let mat of selectedObject.materials; index as matIdx" [value]="matIdx">
                                {{ mat.title | cnLocalizedText }}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <button class="w-100" mat-raised-button color="primary" (click)="editMaterials(selectedObject)">Edit
                        Materials</button>

                </div>

            </div>

        </ng-container>



    </div>

    <div class="cn-three-viewer-editor cn-hierarchy" [class.cn-hidden]="!context.editorMode.value">

        <div class="p-2 bg-primary text-primary-contrast d-flex align-items-center">
            <button mat-icon-button [matMenuTriggerFor]="mainMenu">
                <mat-icon>menu</mat-icon>
            </button>
            <div class="ml-auto"></div>
        </div>

        <ul class="cn-three-viewer-editor-nav mt-2">
            <li class="cn-caption" (click)="editorHierarchyActiveTab = 'models'"
                [class.cn-selected]="editorHierarchyActiveTab === 'models'">Models</li>
            <li class="cn-caption" (click)="editorHierarchyActiveTab = 'lights'"
                [class.cn-selected]="editorHierarchyActiveTab === 'lights'">Lights</li>
            <li class="cn-caption" (click)="editorHierarchyActiveTab = 'pins'"
                [class.cn-selected]="editorHierarchyActiveTab === 'pins'">
                Pins</li>
            <li class="cn-caption" (click)="editorHierarchyActiveTab = 'colliders'"
                [class.cn-selected]="editorHierarchyActiveTab === 'colliders'">
                Colliders</li>
        </ul>

        <div class="cn-three-viewer-editor-item-list" style="height: 30rem;" cdkDropList
            (cdkDropListDropped)="cdkMoveItemInArray(activeEditorHierarchyGroup.children, $event.previousIndex, $event.currentIndex)">

            <ng-container *ngIf="activeEditorHierarchyGroup">
                <ng-container *ngFor="let m of activeEditorHierarchyGroup.children">
                    <div cdkDrag>
                        <div class="d-flex align-items-center w-100 px-2 cn-three-viewer-editor-item"
                            [class.cn-selected]="selectedObject === m" (click)="selectedObject = m">
                            <span>{{ m.title | cnLocalizedText }}</span>
                            <div class="ml-auto"></div>

                            <button mat-icon-button (click)="activeEditorHierarchyGroup.remove(m); onObjectRemoved(m)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </div>
                </ng-container>
                <div class="text-center p-3" *ngIf="activeEditorHierarchyGroup.children.length === 0">
                    <em>There are no {{ editorHierarchyActiveTab }}</em>
                </div>
            </ng-container>
        </div>


    </div>

</div>

<div class="cn-overlay cn-three-viewer-loading" [appBgImage]="item.loadingBackgroundImage | cnUrl : item"
    *ngIf="loadingScreen.show">
    <div class="cn-three-viewer-loading-progress text-center">
        <div class="cn-three-viewer-loading-text">{{ loadingScreen.text }} <span
                *ngIf="loadingScreen.mode === 'determinate'">({{ loadingScreen.current }}/{{ loadingScreen.total
                }})</span>
        </div>
        <div class="my-2"></div>
        <mat-progress-bar [mode]="loadingScreen.mode" [value]="loadingScreen.current / loadingScreen.total * 100">
        </mat-progress-bar>
    </div>
</div>