<div class="cn-three-viewer-editor cn-pin-layers">

    <div class="cn-three-viewer-pin-layer-list">

        <button mat-raised-button color="primary" class="w-100" (click)="newPinLayer()">
            <mat-icon>add</mat-icon>
            <span>Add</span>
        </button>

        <div class="cn-three-viewer-editor-item-list mt-2" style="height: 20rem;" cdkDropList
            (cdkDropListDropped)="cdkMoveItemInArray(data.pinLayers, $event.previousIndex, $event.currentIndex)">
            <div *ngFor="let l of data.pinLayers; index as lIdx" cdkDrag>
                <div class="cn-three-viewer-editor-item d-flex align-items-center w-100 px-2"
                    [class.cn-selected]="selectedLayer===l" (click)="selectedLayer=l">
                    <span class="flex-grow-1">{{ l.title | cnLocalizedText }}</span>
                    <button mat-icon-button (click)="deleteLayer(l)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="flex-grow-1 px-2 pt-2">
        <div class="d-flex flex-column w-100 h-100">
            <div *ngIf="selectedLayer" class="row">

                <mat-form-field class="col-6">
                    <mat-label>Title</mat-label>
                    <app-editable-localized-text [(data)]="selectedLayer.title"></app-editable-localized-text>
                </mat-form-field>

                <mat-form-field class="col-6">
                    <mat-label>Description</mat-label>
                    <app-editable-localized-text [(data)]="selectedLayer.description" multiline="true"></app-editable-localized-text>
                </mat-form-field>

                <mat-form-field class="col-6">
                    <mat-label>Color</mat-label>
                    <input matInput type="color" [ngModel]="'#' + selectedLayer.color.getHexString()"
                        (ngModelChange)="selectedLayer.color.set($event)">
                </mat-form-field>   

                <div class="col-6">
                    <mat-checkbox [checked]="selectedLayer.transparent" (change)="selectedLayer.transparent = $event.checked">
                        Transparent
                    </mat-checkbox>
                </div>

            </div>
            <div class="flex-grow-1 cn-relative" #pinPreviewContainer [class.d-none]="!selectedLayer">
                <div class="cn-absolute" style="top:16px;right:16px;z-index: 1;">
                    <button mat-icon-button (click)="selectModel()">
                        <mat-icon>more_horiz</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>