<input type="file" style="display: none;" #fileChooser (change)="fileChooserChange($event.target.files)">

<ng-template #textEditDialogTmpl let-data>
    <mat-slide-toggle class="mb-2" color="primary" [checked]="isMultilanguage(data.text)" (change)="multilanguageToggle(data)">Multilanguage</mat-slide-toggle>
    <ng-container *ngIf="isMultilanguage(data.text)">
        <ng-container *ngFor="let locale of context.getLocales()">
            <mat-form-field class="w-100">
                <mat-label>{{ locale.id }}</mat-label>
                <input *ngIf="!data.multiline" matInput [(ngModel)]="data.text[locale.id]">
                <textarea *ngIf="data.multiline" rows="5" matInput [(ngModel)]="data.text[locale.id]"></textarea>
            </mat-form-field>
        </ng-container>
    </ng-container>
    <ng-container *ngIf="!isMultilanguage(data.text)">
        <mat-form-field class="w-100">
            <mat-label>Text</mat-label>
            <input *ngIf="!data.multiline" matInput [(ngModel)]="data.text">
            <textarea *ngIf="data.multiline" rows="5" matInput [(ngModel)]="data.text"></textarea>
        </mat-form-field>
    </ng-container>
    <div class="mt-2 text-right">
        <button mat-raised-button color="primary" (click)="data.resolve(data.text); data.closeDialog()">Accept</button>
        <button class="ml-2" mat-raised-button (click)="data.reject(); data.closeDialog()">Cancel</button>
    </div>
</ng-template>