$cn-header-height: 8rem;

.cn-app-container {
  
    @extend .cn-bg-cover;

    .cn-app-header {
        @extend .mat-elevation-z4;
        overflow: hidden;

        background-color: transparentize(theme-color("background"), 0.5);

        position: relative;
        width: 100%;
        height: $cn-header-height;
        z-index: 1;

    }

    .cn-app-header-links {
        a, a:link, a:visited {
            display: inline-flex;
            align-items: center;
            color: inherit;
            opacity: 0.75;
            text-decoration: none;
        }
        a:hover {
            color: theme-color("primary");
            opacity: 1;
        }
    }

    .cn-app-content {
        position: relative;
        overflow-x: hidden;
        overflow-y: auto;
        //margin-top: $cn-header-height;
        height: calc(100vh - #{$cn-header-height});
    }
}
