$cn-dz-tools-height: 4rem;
$cn-dz-layer-height: 2.5rem;
$cn-dz-layer-count: 12;

.cn-deep-zoom-container {
  @extend .cn-relative;
  user-select: none;
  background-color: transparent;
}

.cn-dz-show-layers {
  position: absolute;
  top: 16px;
  left: 16px;
}


.cn-dz-layer-controls {
  @extend .cn-absolute;
  @extend .rounded;
  @extend .mat-elevation-z4;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  left: -100%;
  top: 16px;
  transition: left 0.2s;

  &.cn-show {
    left: 16px;
  }

  .cn-dz-layers {

    overflow-y: auto;
    max-height: $cn-dz-layer-count * $cn-dz-layer-height;

    .cn-dz-close-mobile {
      cursor: pointer;
      width: $cn-dz-layer-height;
      height: $cn-dz-layer-height;
    }

    .cn-dz-layer {

      overflow-y: hidden;
      height: $cn-dz-layer-height;

      &:not(:last-child) {
        @extend .border-bottom;
      }

      .cn-dz-layer-preview {
        cursor: pointer;
        position: relative;
        width: $cn-dz-layer-height;
        height: $cn-dz-layer-height;

        .cn-dz-hidden {
          background-color: rgba(0, 0, 0, .5);
          position: absolute;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
        }

      }
    }
  }
}

.cn-dz-minimap {
  @extend .cn-absolute;
  width: 10rem;
  top: 16px;
  right: 16px;

  @include media-breakpoint-down(md) {
    display: none;
  }

  .cn-dz-minimap-image {
    overflow: hidden;
    position: relative;
    width: 100%;
    background-size: 100% 100%;

    .cn-dz-minimap-track {
      position: absolute;
      border: 2px solid theme-color("primary");
      background-color: transparentize($color: theme-color("primary"), $amount: 0.9);
    }
  }
}

.cn-dz-tools {
  @extend .cn-absolute;
  @extend .w-100;
  bottom: 0;
  left: 0;
  height: $cn-dz-tools-height;
  background: rgba(0, 0, 0, 0.5);
  color: white;
}