.cn-three-viewer-editor {
  @mixin cn-window {
    @extend .cn-absolute;
    @extend .mat-elevation-z4;
    @extend .bg-background;
    overflow-x: hidden;
    overflow-y: auto;
    transition: left 0.2s, right 0.2s;

  }

  z-index: 1;

  &.cn-hierarchy {
    @include cn-window();
    top: 0;
    left: 0;
    width: 20rem;
    height: 100%;
    
    &.cn-hidden {
      left: -20rem;
    }

  }

  &.cn-inspector {
    @include cn-window();
    top: 0;
    right: 0;
    width: 20rem;
    height: 100%;
    
    &.cn-hidden {
      right: -20rem;
    }

  }

  &.cn-pin-layers {
    @extend .d-flex;

    .cn-three-viewer-pin-layer-list {
      width: 15rem;
    }

  }

  &.cn-materials {
    @extend .d-flex;

    .cn-three-viewer-mat-list {
      width: 15rem;
    }

    .cn-materials-table {
      border-collapse: collapse;
      
      @extend .w-100;

      th,
      td {
        @extend .p-2;
        @extend .border-bottom;
        white-space: nowrap;
      }

      th:not(:last-child),
      td:not(:last-child) {
        @extend .border-right;
      }

    }
  }

  .cn-input {
    @extend .rounded;
    @extend .p-1;
    height: 24px;
    line-height: normal !important;
    border: 0;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .cn-caption {
    font-weight: bold;
    font-size: 0.8em;
    text-transform: uppercase;
  }

  ul.cn-three-viewer-editor-nav {
    margin: 0;
    padding: 0;
    li {
      @extend .p-2;
      display: inline-block;
      cursor: pointer;
      opacity: 0.5;

      &:hover {
        background-color: gray("300");
      }

      &.cn-selected {
        opacity: 1;
        @extend .border-left;
        @extend .border-right;
        @extend .border-top;
      }
    }
  }

  .cn-three-viewer-editor-properties {
    @extend .p-2;
    @extend .mat-elevation-z1;

    .cn-caption {
      @extend .mb-2;
    }
  }

  .cn-three-viewer-editor-property {
    @extend .w-100;
    @extend .mb-1;
    @extend .d-flex;
    @extend .align-items-center;
    min-height: 24px;
  }

  .cn-three-viewer-editor-item-list {
    @extend .mat-elevation-z1;
    cursor: pointer;
    overflow-x: hidden;
    overflow-y: auto;

    .cn-three-viewer-editor-item {
      &:hover {
        background-color: gray("300");
      }

      &.cn-selected {
        background-color: gray("300");
      }
    }
  }
}
