.cn-three-viewer {
  @extend .cn-relative;
  @extend .w-100;
  @extend .h-100;
  overflow: hidden;
  z-index: 0;

  .cn-three-viewer-loading {
    z-index: 1;
  }

  .cn-three-viewer-container {
    @extend .cn-absolute;
    @extend .w-100;
    @extend .h-100;
  }

  .cn-three-viewer-pin-popup {
    @extend .rounded;
    @extend .p-3;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute;
    width: 20rem;
  }

  .cn-three-viewer-controls {
    position: absolute;
    top: 16px;
    left: 16px;
  }

  .cn-three-viewer-layers {
    @extend .rounded;
    @extend .bg-background;
    @extend .mat-elevation-z4;
    overflow: hidden;
    position: absolute;
    width: 25rem;
    top: 16px;
    left: 16px;
    transition: left 0.25s;
    user-select: none;

    &.cn-hidden {
      display: none;
    }


    .cn-three-viewer-layer {
      @extend .pr-2;
      position: relative;
      height: 2.5rem;

      &.cn-indent {
        background-color: #eee;
        border-bottom: none !important;
      }


      &:not(:last-child) {
        @extend .border-bottom;
      }

    }

    
    .cn-three-viewer-layer-preview {
      width: 2.5rem;
      height: 2.5rem;
    }
  }
}
