// Override global font
@use '~@angular/material' as mat;
.leaflet-container {
  font: inherit !important;
}

.leaflet-map-pane svg {
  z-index: unset;
}
.leaflet-map-pane canvas {
  z-index: unset;
}

// Popups
.leaflet-popup-content-wrapper {
  @extend .rounded;
}
.leaflet-popup-content {
  @extend .m-0;
  @extend .p-2;
}
.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  color: mat.get-color-from-palette($cn-mat-primary, default-contrast);
  @extend .bg-primary;
  @extend .mat-elevation-z1;
}

// Tooltip

.leaflet-tooltip {
  color: mat.get-color-from-palette($cn-mat-primary, default-contrast);
  @extend .bg-primary;
  @extend .mat-elevation-z1;
}
