.cn-item-input-params-editor {
  .cn-item-input-params {
    &>div {
      width: 100%;
      display: flex;
      align-items: center;
      input {
        flex-grow: 1;
        margin: 0.25rem;
        padding: 0.25rem;
        border-radius: 0.25rem;
        border: 1px solid $border-color;
      }

      span.cn-delete {
        padding: 0 0.25rem;
        cursor: pointer;
        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
}