$cn-dz-tools-height: 4rem;

$cn-dz-layer-preview-size: 8rem;
$cn-dz-layer-preview-size-mobile: 4rem;

$cn-dz-layer-margin-left: 3.5rem;
$cn-dz-layer-margin-top: 2rem;

$cn-dz-layer-margin-mobile: 1rem;

$cn-dz-layer-count: 6;


.cn-deep-zoom-container {
  @extend .cn-relative;
  user-select: none;
  background-color: transparent;
}

.cn-dz-show-layers {
  position: absolute;
  top: $cn-dz-layer-margin-top;
  left: $cn-dz-layer-margin-left;

  @include media-breakpoint-down(md) {
    top: $cn-dz-layer-margin-mobile;
    left: $cn-dz-layer-margin-mobile;
  }

}


.cn-dz-layer-controls {
  @extend .cn-absolute;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  left: -100%;
  top: 0;
  height: calc(100% - #{$cn-dz-tools-height});
  transition: left 0.2s;
  overflow-y: auto;

  @include media-breakpoint-down(md) {
    top: $cn-dz-layer-margin-mobile;
    max-height: $cn-dz-layer-preview-size-mobile * 5;
  }

  &.cn-show {
    left: 0;
    @include media-breakpoint-down(md) {
      left: $cn-dz-layer-margin-mobile;
    }
  }

  .cn-dz-layers {

    height: 100%;

    .cn-dz-close-mobile {
      cursor: pointer;
      //width: $cn-dz-layer-height;
      //height: $cn-dz-layer-height;
    }

    .cn-dz-layer {

      overflow-y: hidden;

      &:not(:last-child) {
        @extend .border-bottom;
      }

      .cn-dz-layer-preview {
        cursor: pointer;
        position: relative;
        width: $cn-dz-layer-preview-size;
        height: $cn-dz-layer-preview-size;


        display: flex;
        flex-direction: column;

        .cn-dz-opacity-control {
          .mat-slider-horizontal {
            min-width: initial !important;
          }

          width: 100%;
        }

        .cn-dz-visibility-control {
          flex-grow: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;

          .mat-icon {
            height: 2.5rem;
            width: 2.5rem;
            font-size: 2.5rem;

            &.cn-transparent {
              color: rgba(0, 0, 0, 0.5);
            }

          }

        }


        @include media-breakpoint-down(md) {
          width: $cn-dz-layer-preview-size-mobile;
          height: $cn-dz-layer-preview-size-mobile;

          .cn-dz-visibility-control {
            .mat-icon {
              height: 1.5rem;
              width: 1.5rem;
              font-size: 1.5rem;
            }

          }


        }

        /*
        .cn-dz-hidden {
          background-color: rgba(0, 0, 0, .5);
          position: absolute;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
        }
        */

      }
    }
  }
}

.cn-dz-minimap {
  @extend .cn-absolute;
  width: 10rem;
  top: 16px;
  right: 16px;
  overflow: hidden;

  @include media-breakpoint-down(md) {
    display: none;
  }

  .cn-dz-minimap-image {
    display: block;
    overflow: hidden;
    width: 100%;
    background-size: 100% 100%;
  }

  .cn-dz-minimap-track {
    pointer-events: none;
    position: absolute;
    border: 2px solid theme-color("primary");
    background-color: transparentize($color: theme-color("primary"), $amount: 0.9);
  }

}

.cn-dz-tools {
  @extend .cn-absolute;
  @extend .w-100;
  bottom: 0;
  left: 0;
  height: $cn-dz-tools-height;
  background: rgba(0, 0, 0, 0.5);
  color: white;
}