.cn-slideshow-carousel {

  $cn-slidewhow-controls-height: 4rem;

  @extend .h-100;
  @extend .mat-elevation-z1;
  
  position: relative;
  display: flex;
  flex-direction: column;

  .cn-slideshow-slides-wrapper {
    position: relative;
    overflow: show;
    width: 100%;
    flex-grow: 1;
    //background-color: rgba(0, 0, 0, 0.5);

    .cn-slideshow-slides {
      @extend .cn-relative;
      width: 100%;
      height: 100%;
      z-index: 0;
      overflow: hidden;

      .cn-slideshow-slide {
        position: absolute;
        overflow: auto;
        width: 100%;
        height: 100%;
      }
    }
  }

  .cn-slideshow-controls {
    width: 100%;
    //height: $cn-slidewhow-controls-height;
    background-color: rgba(0, 0, 0, .5);
    color: white;

  }
  
}