<ng-template #imageSourceDialogTmpl let-data>
  <mat-radio-group aria-label="Select an option" #imageSource [(ngModel)]="data.value">
    <mat-radio-button class="d-block mb-3" value="thumbnail">Thumbnail</mat-radio-button>
    <mat-radio-button class="d-block mb-3" value="gallery">Gallery</mat-radio-button>
    <mat-radio-button class="d-block mb-3" value="source">Source</mat-radio-button>
  </mat-radio-group>
  <button mat-raised-button [mat-dialog-close]="data.value">Confirm</button>
</ng-template>

<div class="cn-file-input" (appFileDrop)="onFileDrop($event)">

  <button *ngIf="isModusOperandi" mat-icon-button (click)="modusOperandiFilePicker()" class="cn-mo-file-picker">
    <mat-icon>cloud_download</mat-icon>
  </button>

  <ng-container *ngIf="url">
    <img class="cn-file-input-preview" *ngIf="contentType === 'image'" [src]="url">
    <div class="cn-file-input-preview" *ngIf="contentType === 'video'">
      <mat-icon>videocam</mat-icon>
    </div>
    <div class="cn-file-input-preview" *ngIf="contentType === 'unknown'">
      <mat-icon>description</mat-icon>
    </div>
  </ng-container>

  <div class="py-2 flex-grow-1 d-flex justify-content-center align-items-center">
    <mat-icon>file_upload</mat-icon> <span class="mx-2">Drop files here</span>
  </div>
</div>