:host {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;

  .cn-error-container {
    padding: 1rem;
    background-color: rgba(0, 0, 0, .5);
    color: white;

    .cn-error-code {
      line-height: initial;
      font-size: 5rem;
    }
  }


}